.main-content{
    color:#fff;
    text-align: center;
    padding:20px;
}

.main-content>h1{
    margin-bottom:20px;
}

.main-content>p{
    margin:20px 0;
}


.camp-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.camp-btn{
    background-color:#3e6d7a;
    color:white;
    font-family: 'Kanit',sans;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style:italic;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.camp-btn:hover{
    background-color: #25aacf;
    transform: scale(1.05);
    transition:0.1s;
}

.ordenar-btn{
    background-color:#364a50;
    color:white;
    font-family: 'Kanit',sans;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style:italic;
    padding: 10px 20px;
    border-radius: 5px;
    border:2px solid #3e6d7a;
    cursor: pointer;
}

.ordenar-btn:hover{
    transform: scale(0.9);
    transition: 0.2s;
}



.popup{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
}

.popup-content{
    background-color:#222;
    padding:20px;
    border-radius: 10px;
    width:40%;
    margin:10% auto;
    text-align: center;
}

.close{
    float:right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover{
    color:red;
}

.popup-content>input, select{
    width: 90%;
    padding:10px;
    margin: 10px 0;
    border-radius: 5px;
    border:none;
}

.popup-buttons{
    display:flex;
    justify-content: space-around;
    margin-top:15px;
}

.popup-btn{
    background-color:#3e6d7a;
    color:white;
    font-family: 'Kanit',sans;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style:italic;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.popup-ordenar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 25px;
}

.ordem{
    width:80%;
    background-color:#3e6d7a;
    color:white;
    font-family: 'Kanit',sans;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style:italic;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    margin-top:15px;
    text-align: center;

}

.ordem:hover{
    background-color: #25aacf;
    transform: scale(1.03);
    transition: 0.3s;
}

.popup-btn:hover{
    background-color: #25aacf;
    transform: scale(1.03);
    transition: 0.3s;
}

.cancel{
    background-color:gray;
}

.cancel:hover{
    background-color: red;
}

.filtros{
    margin-top:20px;
}

.campeonatos{
    margin: 20px 150px;
    display: grid !important;
    grid-template-columns: repeat(3,minmax(0,1fr));
    padding:24px;
}

.campeonatos-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3e6d7a;
    min-height: 400px;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    text-align: center;
    cursor:pointer;
    border: 1px solid gray;
}

.campeonatos-card h2{
    word-wrap: break-word;
}

.campeonatos-card img{
    width:100%;
    border-radius: 10px;
}

.foto-bg{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 1px solid gray;
}

.foto-jogo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.campeonatos-card:hover img{
    transform:scale(1.2);
}

.edit{
    background-color:#398da5;
    border: 1.5px solid #000;
}

.edit-cancel{
    border: 1.5px solid #000;
}