.nome.aatrox::before{
    background-image: url('../img/Champions/Aatrox.png');
    }
    
    .nome.ahri::before{
      background-image: url('../img/Champions/Ahri.png');
    }
    
    .nome.akshan::before{
      background-image: url(../img/Champions/Akshan.png);
    }
    
    .nome.aphelios::before{
    background-image: url('../img/Champions/Aphelios.png');
    }
    
    .nome.amumu::before{
      background-image: url('../img/Champions/Amumu.png');
    }
     
    .nome.belveth::before{
      background-image: url(../img/Champions/Belveth.png);
    }
    
    .nome.brand::before{
    background-image: url('../img/Champions/Brand.png');
    }
    
    .nome.caitlyn::before{
    background-image: url('../img/Champions/Caitlyn.png');
    }
    
    .nome.chogath::before{
    background-image: url(../img/Champions/Chogath.png);
    }
    
    .nome.darius::before{
    background-image: url('../img/Champions/Darius.png');
    }
    
    .nome.draven::before{
    background-image: url('../img/Champions/Draven.png');
    }
    
    .nome.ekko::before{
    background-image: url(../img/Champions/Ekko.png);
    }
    
    .nome.ezreal::before{
    background-image: url('../img/Champions/Ezreal.png');
    }
    
    .nome.fiddlesticks::before{
    background-image: url('../img/Champions/Fiddlesticks.png');
    }
    
    .nome.garen::before{
    background-image: url(../img/Champions/Garen.png);
    }
    
    .nome.gragas::before{
      background-image: url(../img/Champions/Gragas.png);
    }
    
    .nome.irelia::before{
    background-image: url('../img/Champions/Irelia.png');
    }
    
    .nome.jax::before{
    background-image: url(../img/Champions/Jax.png);
    }
    
    .nome.jayce::before{
    background-image: url('../img/Champions/Jayce.png');
    }
    
    .nome.jinx::before{
    background-image: url('../img/Champions/Jinx.png');
    }
    
    .nome.karthus::before{
    background-image: url(../img/Champions/Karthus.png);
    }
    
    .nome.katarina::before{
    background-image: url('../img/Champions/Katarina.png');
    }
    
    .nome.kayle::before{
    background-image: url('../img/Champions/Kayle.png');
    }
    
    .nome.kayn::before{
    background-image: url(../img/Champions/Kayn.png);
    }
    
    .nome.leesin::before{
      background-image: url(../img/Champions/LeeSin.png);
    }
    
    .nome.lulu::before{
    background-image: url('../img/Champions/Lulu.png');
    }
    
    .nome.lux::before{
    background-image: url(../img/Champions/Lux.png);
    }
    
    .nome.malphite::before{
    background-image: url('../img/Champions/Malphite.png');
    }
    
    .nome.masteryi::before{
    background-image: url('../img/Champions/MasterYi.png');
    }
    
    .nome.mordekaiser::before{
    background-image: url(../img/Champions/Mordekaiser.png);
    }
    
    .nome.morgana::before{
    background-image: url('../img/Champions/Morgana.png');
    }
    
    .nome.neeko::before{
    background-image: url('../img/Champions/Neeko.png');
    }
    
    .nome.nunu::before{
    background-image: url(../img/Champions/Nunu.png);
    }
    
    .nome.olaf::before{
    background-image: url('../img/Champions/Olaf.png');
    }
    
    .nome.sylas::before{
    background-image: url('../img/Champions/Sylas.png');
    }
    
    .nome.viego::before{
    background-image: url('../img/Champions/Viego.png');
        }